:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121214; /* Mantém o fundo escuro caso carregue antes */
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none; /* Remove a trava de largura do Vite */
  text-align: left; /* Remove o alinhamento centralizado forçado */
}